{% load static %}
    <div class="card m-3" >
        <div class="row g-0">
            <div class="card-body">
                <row class="d-flex">
                    {% if object.user == request.user %}
                        <small>Vous avez demandé cette critique</small>
                    {% else %}
                        <small>{{ object.user }} a demandé cette critique</small>
                    {% endif %}

                    <small class="ms-auto">
                        {{ object.time_created|date:"H:i" }}, {{ object.time_created|date:"d M Y" }}
                    </small>
                </row>
                <hr class="">
                <h4 class="card-title">{{ object.title }}</h4>
                <p class="card-text">{{ object.description }}</p>
            </div>
        </div>
        <div class="row g-2">
            <div class=" ">
                {% if object.image %}
                    <img src="{{ object.image.url }}"
                         class="img-thumbnail m-3 w-50 "
                         alt="Image de la critique {{ object.title }}">
                {% endif %}
            </div>
        {% if not is_included %}
            <div class=" d-flex align-items-end justify-content-end text-nowrap">
                {% if not object.review.exists  %}
                    <a href="{% url 'review-create' object.id %}" class="card-link btn btn-primary m-3">Créer une
                        critique
                    </a>
                {% endif %}
                {% if show_creator_button %}
                    <a href="{% url 'ticket-update' object.id %}" class="card-link btn btn-warning m-3">
                        Modifier
                    </a>
                    <a href="{% url 'ticket-delete' object.id %}" class="card-link btn btn-danger m-3">
                        Supprimer
                    </a>
                {% endif %}
            </div>
        {% endif %}
        </div>
    </div>
