{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="mx-auto">
            <div class="row border rounded-top p-2">
                <p class="mb-0">Vous êtes en train de poster en réponse à </p>
                <div class="d-flex justify-content-center align-items-center px-4">
                    {% if form.instance.ticket %}
                        {% include "reviews/ticket/detail_snippet.html" with object=form.instance.ticket is_included=True %}
                    {% elif ticket %}
                        {% include "reviews/ticket/detail_snippet.html" with object=ticket is_included=True %}
                    {% endif %}
                </div>
            </div>
            <div class="row border border-top-0 p-2">
                <h4>Critique</h4>
                <form method="post">
                    {% crispy form %}
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-secondary m-2" href="{% url 'user-posts-list' %}">
                            Annuler
                        </a>
                        <button type="submit" value="Enregistrer" class="btn btn-primary mx-2 my-2">
                            Enregistrer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}