{% extends "reviews/base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6 mx-auto">
            {% for post in object_list %}
                {% if post.content_type == 'TICKET' %}
                    {% include 'reviews/ticket/detail_snippet.html' with object=post show_creator_button=True %}
                {% elif post.content_type == 'REVIEW'%}
                    {% include 'reviews/review/detail_snippet.html' with object=post show_creator_button=True %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}