{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    {% block ressources %}

    {% endblock %}
</head>
<body>
<header class="mb-2">
    <nav class="navbar navbar-expand-sm navbar-light bg-light" aria-label="Barre de navigation">
        <div class="container-fluid justify-content-between">
            <div class="balance" style="width: 300px;"></div>
            <a class="navbar-brand " href="{% url 'home' %}">LITReview</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems"
                    aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarItems">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Flux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user-posts-list' %}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user-follow' %}">Abonnement</a>
                    </li>
                    <li class="nav-item">
                        <form id="form-logout-id" action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="nav-link" href="{% url 'logout' %}">Se déconnecter</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>