{% extends "reviews/base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-auto d-flex justify-content-center ">
            <a class="btn btn-primary m-2" href="{% url 'ticket-create' %}">
                Demander une critique
            </a>
            <a class="btn btn-primary m-2" href="{% url 'review-and-ticket-create' %}">
                Créer une critique
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 mx-auto">
            {% for post in object_list %}
                {% if post.content_type == 'TICKET' %}
                    {% include 'reviews/ticket/detail_snippet.html' with object=post %}
                {% elif post.content_type == 'REVIEW'%}
                    {% include 'reviews/review/detail_snippet.html' with object=post %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}